@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* outline: 2px solid lightblue; */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.CharityList_CharityCard{

  /* display: flex; */
  /* flex-wrap: 1; */
  /* width: 100%;; */
  /* height: 500px; */
  /* aspect-ratio: 9/16; */
  /* border: 2px solid blue; */
}

.CharityList_CardWidth{
  width: 20vw;;
}

.index_CharityCardContainer{
  /* background-color: lightpink; */
  /* margin:auto; */
  display: flex;
  /* gap:10px 10px; */
  gap: 10px 15px;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  justify-self: center;
}

.index_CharityContainer{
  /* max-width: 60vw; */
  /* margin: 0 20%; */
  display: flex;
  /* flex-shrink: 1; */
  justify-content: center;
  /* outline: 2px solid lightblue; */
}

.CreateCharity_formContainer{
  margin: 0px 30% ;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;

}